<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme{
        --color-clifford: #da373d;
      }
    </style>
</head>
<body>

<section class="bg-[#e2cfea] py-12">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-5xl font-bold font-['League_Spartan'] text-[#062726] mb-4">About The Developers</h2>
    <p class="italic text-lg text-gray-600f  max-w-3xl mx-auto mb-8">
      We are a passionate team  of young programmers dedicated to creating modern and user-friendly web experiences. 
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-10">
      
      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12   ">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/saquin-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Benjie Saquin</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Team Leader</h3>
          <p class="text-gray-600">
            Leads the group, ensures smooth teamwork, and keeps the project aligned with goals from start to finish
        </div>  
      </div>

    
      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/arradaza-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Reipoh Gabriel Arradaza</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">UI/UX Developer</h3>
          <p class="text-gray-600">
            Designs user-friendly interfaces and experiences, focusing on accessibility, consistency, and seamless interaction across devices.
        </div>  
      </div>
      
      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/laguna-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Marylle Laguna</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Back-end Developer</h3>
          <p class="text-gray-600">
            Handles the server-side logic and database systems, integrating application features for secure and reliable performance.
        </div>  
      </div>
     
      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/molar-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Bea Molar</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Front-end Developer</h3>
          <p class="text-gray-600">
            Develops the visual and interactive features of the site, ensuring responsive layouts and accessible design elements.
          </p>
        </div>  
      </div>

      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/ballajadia-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Ericson Ballajadia</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Front-end Developer</h3>
          <p class="text-gray-600">
            Transforms creative concepts into functional web pages, delivering clean, efficient, and responsive front-end code.
          </p>
        </div>  
      </div>

    
      <div class="bg-white shadow-md hover:bg-[#c9ada7] rounded-2xl overflow-hidden flex flex-col items-center p-6 w-11/12">
        <div class="w-2/3 max-w-[170px] aspect-square overflow-hidden">
          <img src="/assets/sala-profile.jpg" class="w-full h-full object-cover border-2 border-dashed border-[#8F7D8C] shadow-md rounded-full" alt="Image Profile">
        </div>

        <div class="p-4">
          <i class="fab fa-github text-3xl text-gray-800"></i>
          <h3 class="text-xl font-bold text-[#062726] mb-2">Justin Sala</h3>
          <h3 class="text-lg font-semibold text-gray-800 mb-2">Back-end Developer</h3>
          <p class="text-gray-600">
            Maintains the server and data processes, ensuring strong functionality and smooth integration between front-end and back-end.
          </p>
        </div>  
      </div> 

    </div>

  </div>
</section>

</body>
</html>