<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
    <title>Home</title>
</head>
<body>
    <footer class="flex justify-center items-center text-white bg-[#511f50] text-center p-4">
        <ul>
            <li><p>&copy; 2025 JUTS</p></li>
            <li><a href="socmeds.html" class="bg-[#854d84] hover:bg-[#411c41] hover:text-white-500 rounded-lg text-black  mx-3 border-b-2 border-b-white pl-6 pr-6">Follow us!</a></li>
        </ul>
    </footer>
</body>
</html>