<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
    <title>Home</title>
</head>
<body>
    <nav>
        <ul class="flex  text-[#ffffff] flex-row-reverse h-15 items-center px-8 text-md sm:text-2xl bg-[#511f50]">
            <li class="mx-4"><a href="../assets/">Contact</a></li>          
            <li class="mx-4"><a href="./about.html">About</a></li>
            <li class="mx-4"><a href="#">Home</a></li>
        </ul>
    </nav>
    <div class="sm:mx-auto sm:max-w-4xl shadow-lg rounded-2xl bg-[#f0f8f3] sm:my-15 my-3 mx-3 sm:pt-14 sm:pb-8 py-5 sm:px-14 px-5">
        <div class="mx-auto bg-[#333] w-full flex my-20 ">
            
        </div>
    </div>
</body>
</html>